<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-bfm-iv-invoices-styles.html">
<dom-module id="cells-bfm-iv-invoices">
  <template>
    <style include="cells-bfm-iv-invoices-styles cells-grid-template-styles"></style>
    <div class=" cgt">
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
        <div class="table-container">
      <template is="dom-if" if="[[items.length]]">
        <template is="dom-repeat" items="[[items]]" as="row">
          <div class="row-item">
          <span class$="circle [[row.type]]">
            <cells-atom-icon icon="[[row.icon]]"></cells-atom-icon>
          </span>
          <span class="date-cont text-center column">
            <label class="date" for="date">[[row.date]]</label>
            <label class="year" for="year">[[row.year]]</label>
          </span>
          <span class="description column">
            <label class="description-text" for="">[[row.description]]</label>
            <span class="tag-container">
              <template is="dom-repeat" items="[[row.tags]]" as="tag">
                <span class$="tag [[tag.class]]">
                  <cells-atom-icon icon="[[tag.icon]]"></cells-atom-icon>
                  [[tag.text]]
                </span>
              </template>
            </span>
          </span>
          <span class="amounts column">
            <cells-atom-amount class="main-amount"
              local-currency="[[row.mainAmount.currency]]"
              amount="[[row.mainAmount.amount]]"
              currency-code="[[row.mainAmount.currency]]"></cells-atom-amount>
            <cells-atom-amount class="sub-amount"
              amount="[[row.subAmount.amount]]"
              local-currency="[[row.subAmount.currency]]"
              currency-code="[[row.subAmount.currency]]"></cells-atom-amount>
          </span>
        </div>
        </template>
      </template>
    </div>
    </div>
    </div>
  </template>

  <script src="cells-bfm-iv-invoices.js"></script>
</dom-module>