<dom-module id="cells-bfm-iv-invoices-styles"><template><style>
  :host {
    display: block;
    box-sizing: border-box;
    font-family: var(--cells-fontDefault, sans-serif);
    @apply --cells-bfm-iv-invoices; }

  :host([hidden]), [hidden] {
    display: none !important; }

  *, *:before, *:after {
    font: inherit;
    box-sizing: inherit; }

  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    color: #fff;
    justify-content: center; }
    .circle.primary {
      background-color: #88CA9A; }
    .circle.secondary {
      background-color: #E77D8E; }

  .column {
    flex-direction: column;
    display: inline-flex; }

  .text-center {
    text-align: center; }
  .row-item{
    display: flex;
    width: 100%;
    padding: 0.8rem;
  }
  .row-item:hover{
    background-color: #D9EFE0;
  }
  .table-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column}

  .date-cont,
  .description {
    margin: 0 0.5rem; }

  .tag {
    border-radius: 1rem;
    color: #fff;
    font-weight: 450;
    font-size: 12px;
    padding: 0.3rem 0.5rem;
    margin: 0 0.3rem;
    cursor: pointer; }
    .tag.primary {
      background-color: #3d475b; }
    .tag.secondary {
      background-color: #a4aaaf; }

  .description-text {
    font-size: 15px;
    font-weight: 450;
    margin-bottom: 0.5rem; }

  .amounts {
    position: absolute;
    right: 0; }

  </style></template></dom-module>