@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-iv-invoices;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  &.primary{
    background-color: #88CA9A;
  }
  &.secondary{
    background-color: #E77D8E;
  }
}
.column{
  flex-direction: column;
  display: inline-flex;
}
.text-center{
  text-align: center;
}
.row-item:hover{
  background-color: #D9EFE0;
}
.table-container{
  display: flex;
  align-items: center;
  position: relative;
}
.date-cont,
.description{
   margin: 0 0.5rem;
}

.tag{
  border-radius: 1rem;
  color: #fff;
  font-weight: 450;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  margin: 0 0.3rem;
  cursor: pointer;
  &.primary{
    background-color: #3d475b;
  }
  &.secondary{
    background-color: #a4aaaf;
  }
}
.description-text {
  font-size: 15px;
  font-weight: 450;
  margin-bottom: 0.5rem;
}
.amounts{
  position: absolute;
  right: 0;
}